<h1>Feeds</h1>
<% if logged_in? %>
  <p id="notice"><%= notice %></p>

  <table>
    <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.user.user_name %></td>
        <td><%= image_tag "#{feed.image}" %></td>
        <td><%= feed.content %></td>
        <td>
          <%= link_to 'Show', feed %>
          <%#= link_to 'Edit', edit_feed_path(feed) %>
          <%#= link_to 'Destroy', feed, method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <div class="button_wrapper">
    <button type="button" class="btn btn-default"><%= link_to 'New Feed', new_feed_path %></button>
  </div>
<% else %>
  <h4>Please login</h4>
<% end %>