<h1><%= @user.user_name %>のお気に入り一覧</h1>

<%# @favorites.each do |feed| %>
<!--  <tr>-->
<!--    <td><%#= feed.user.user_name %></td>-->
<!--    <td><%#= image_tag "#{feed.image}", :size =>'200x200' %></td>-->
<!--    <td><%#= feed.content %></td>-->
<!--    <td><%#= link_to 'Show', feed %></td>-->
<!--  </tr>-->
<%# end %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Content</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @favorites.each do |feed| %>
    <tr>
      <td><%= feed.user.user_name %></td>
      <td><%= image_tag "#{feed.image}", :size => '200x200' %></td>
      <td><%= feed.content %></td>
      <td><%= link_to 'Show', feed %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<%= link_to '投稿一覧へ', feeds_path %>