<h1><%= @user.user_name %>のお気に入り一覧</h1>
<div class="icon-user">
  <%= image_tag "#{@user.image}" %>
</div>
<table>
  <tbody>
  <% @favorites.each do |feed| %>
    <tr>
      <td><%= feed.user.user_name %></td>
      <td><%= image_tag "#{feed.image}" %></td>
      <td><%= feed.content %></td>
      <td><%= link_to 'Show', feed %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to '投稿一覧へ', feeds_path %>